/* this does not work well and is serving as a backup because im trying out a new discord theme im making */

/*
  ░██████╗██████╗░████████╗░█████╗░░██████╗
  ██╔════╝██╔══██╗╚══██╔══╝██╔══██╗██╔════╝
  ╚█████╗░██║░░██║░░░██║░░░██║░░██║╚█████╗░
  ░╚═══██╗██║░░██║░░░██║░░░██║░░██║░╚═══██╗
  ██████╔╝██████╔╝░░░██║░░░╚█████╔╝██████╔╝
  ╚═════╝░╚═════╝░░░░╚═╝░░░░╚════╝░╚═════╝░

  "some discord tweaks or something"

  version b3
*/

/* Notice: this theme is designed for Discord web and Vencord. */
/* This theme was designed on Vencord 46715753 (Web) and Discord Stable 331573 (18887297) */
/* This update to the theme was designed from 9/3/2024 to [secondary date] */

/* SETTINGS */
:root {
    --showActivitiesButton: none; /* hide = none, show = flex */
    --showHelpButton: none; /* hide = none, show = flex */
    --showActivitiesVoiceButton: none; /* hide = none, show = flex */
    --showGiftButton: none; /* hide = none, show = flex */
    --showDiscoveryIcon: none; /* hide = none, show = flex */
    /* --hideSlowmodeText: none; /* hide = none, show = flex */
}

.spriteContainer_d91a75 {
    /*
    --custom-emoji-sprite-row: 0 !important;
    --custom-emoji-sprite-col: 0 !important;
    */

    /* NOTE: UNCOMMENT THOSE VARIABLES TO FORCE A CERTAIN EMOJI ON THE EMOJI BUTTON */

    /* also scroll down to find the table of emojis */
}
/* change above variables to change settings about this theme */

/* --------------------------------------------------------------------------------------------------- */

.channelAppLauncher_df39bd { /* Activities Button */
    display: var(--showActivitiesButton);
}

.iconWrapper_fc4f04[aria-label="Help"] { /* Help Button */
    display: var(--showHelpButton);
}

.actionButtons_adcaac button[aria-label="Start An Activity"] /* Activities Voice Button */
{
    display: var(--showActivitiesVoiceButton);
}

.button_dd4f85[aria-label="Send a gift"] /* Gift Button */
{
    display: var(--showGiftButton);
}

.fixedDiscoveryIcon_fea3ef /* Discovery Button */
{
    display: var(--showDiscoveryIcon)
}

/* .base_d7ebeb
{
    display: none;
}
.slowModeIcon_d7ebeb
{
    display: block !important;
} */

/*
EMOJI TABLE FOR FORCE EMOJI ON EMOJI BUTTON
format: (row, col, :emoji_name:)

0, 0, :imp:
0, 1, :cold_face:
0, 2, :cry:
0, 3, :kissing_heart:
0, 4, :face_vomiting:
0, 5, :face_with_diagonal_mouth:
0, 6, :mask:
0, 7, :face_with_monocle:
0, 8, :astonished:
0, 9, :stuck_out_tongue:
0, 10, :smiley:
0, 11, :kissing:
0, 12, :kissing_smiling_eyes:
0, 13, :money_mouth:
0, 14, :relieved:
0, 15, :sleeping:
0, 16, :disappointed:
0, 17, :wink:
0, 18, :zany_face:
0, 19, :disappointed_relieved:

this is still work in progress .-.
*/